<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Checkout - Bushcraft</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="assets/images//favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-114x114-precomposed.png">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-72x72-precomposed.png">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-57x57-precomposed.png">	
	
	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Kristi|Oleo+Script:400,700" rel="stylesheet"> 

	<!-- Library -->
    <link href="assets/css/lib.css" rel="stylesheet">    
	
	<!-- Custom - Common CSS -->
	<link href="assets/css/plugins.css" rel="stylesheet">
	<link href="assets/css/elements.css" rel="stylesheet">	
	<link href="assets/css/rtl.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
	<!-- Loader -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="line-scale"><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	</div><!-- Loader /- -->	

	<!-- Header Section -->
	<header class="header_s">
		<!-- SidePanel -->
		<div id="slidepanel-1" class="slidepanel">
			<!-- Top Header -->
			<div class="container-fluid no-right-padding no-left-padding top-header">
				<!-- Container -->
				<div class="container">						
					<div class="top-left">
						<ul>
							<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>
							<li><a href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<div class="logo-block">
						<a href="index.html" title="Logo"><img src="assets/images/logo.png" alt="Logo"/></a>
					</div>
					<div class="top-right">
						<span><a href="javascript:void(0);" id="search" title="Search"><i class="pe-7s-search"></i></a></span>
						<span><a href="#" title="Search"><i class="pe-7s-user"></i></a></span>
						<div class="cart-dropdown">
							<ul>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false"><i class="pe-7s-cart"></i><span>0</span></a>										
									<ul class="dropdown-menu">
										<li class="mini-cart-item">
											<a href="#"><img src="assets/images/mini-cart-1.jpg" alt="Cart" /></a>
											<div class="mini-cart">
												<a href="#"> Mountain Axe</a>
												<span>Quantity: 1 <span>$25.00</span></span>
											</div>
											<span><a href="#"><i class="fa fa-times"></i></a></span>
										</li>
										<li class="mini-cart-item">
											<a href="#"><img src="assets/images/mini-cart-2.jpg" alt="Cart" /></a>
											<div class="mini-cart">
												<a href="#">Backpack 40L</a>
												<span>Quantity: 1 <span>$130.00</span></span>
											</div>
											<span><a href="#"><i class="fa fa-times"></i></a></span>
										</li>
										<li class="mini-subtotal">SUBTOTAL <span>$155.00</span></li>
										<li class="cart-button">
											<a href="#" title="View shopping cart">view shopping cart</a>
											<a href="#" title="Proceed to checkout">proceed to checkout</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>						
					<!-- Search Box -->
					<div class="search-box search-block1">
						<span><i class="icon_close"></i></span>
						<form><input type="text" class="form-control" placeholder="Enter a keyword and press enter..." /></form>
					</div><!-- Search Box /- -->
				</div><!-- Container /- -->
			</div><!-- Top Header /- -->				
		</div><!-- SidePanel /- -->
		
		<!-- Menu Block -->
		<div class="menu-block">
			<!-- Container -->
			<div class="container">
				<!-- Ownavigation -->
				<nav class="navbar ownavigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Logo"/></a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="index.html" title="Home" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="index2.html" title="Home 2">Home 2</a></li>
									<li><a href="index3.html" title="Home 3">Home 3</a></li>
									<li><a href="index4.html" title="Home 4">Home 4</a></li>
									<li><a href="index5.html" title="Home 5">Home 5</a></li>
								</ul>
							</li>
							<li><a href="#" title="Posts">Posts</a></li>
							<li><a href="#" title="Courses">Courses</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" title="Pages">Pages</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="header-page.html" title="Header Page">Header Page</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" title="Blog" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="post-fullwidth.html" title="Post Fullwidth">Post Fullwidth</a></li>
									<li><a href="post-sidebar.html" title="Post Sidebar">Post Sidebar</a></li>
									<li><a href="post-courses.html" title="Post Courses">Post Courses</a></li>
								</ul>
							</li>
							<li class="dropdown active">
								<a href="shop.html" title="Shop" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="shop-detail.html" title="Shop Detail">Shop Detail</a></li>
									<li><a href="cart.html" title="Cart">Cart</a></li>
									<li><a href="checkout.html" title="Checkout">Checkout</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" title="About us" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">About us</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="about-us.html" title="About Us">About Us</a></li>
									<li><a href="about-us-sidebar.html" title="About Us Sidebar">About Us Sidebar</a></li>
									<li><a href="about-me.html" title="About Me Fullwidth">About Me Fullwidth</a></li>
									<li><a href="about-me-sidebar.html" title="About Me Sidebar">About Me Sidebar</a></li>
								</ul>
							</li>
							<li><a href="#" title="Contact Us">Contact</a></li>
						</ul>
					</div>
					<div id="loginpanel-1" class="desktop-hide">
						<div class="right toggle" id="toggle-1">
							<a id="slideit-1" class="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
							<a id="closeit-1" class="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
						</div>
					</div>
				</nav><!-- Ownavigation /- -->
			</div><!-- Container /- -->
		</div><!-- Menu Block /- -->
	</header><!-- Header Section /- -->

	<div class="main-container">
	
		<main class="site-main">
			
			<!-- Content Block -->
			<div class="container-fluid no-left-padding no-right-padding content-block product-cart">
				<!-- Container -->
				<div class="container">
					<!-- Row -->
					<div class="row">
						<div class="col-md-6 col-xs-12">
							<div class="woocommerce-info">
								<p>Returning customer? <a class="showlogin" href="#">Click here to login</a></p>
							</div>
							<form class="woocommerce-form-login login" method="post">
								<p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer, please proceed to the Billing &amp; Shipping section.</p>
								<p class="form-row form-row-first">
									<label for="username">Username or email <span class="required">*</span></label>
									<input class="input-text" name="username" id="username" type="text">
								</p>
								<p class="form-row form-row-last">
									<label for="password">Password <span class="required">*</span></label>
									<input class="input-text" name="password" id="password" type="password">
								</p>
								<div class="clear"></div>
								<p class="form-row">
									<input class="button" name="login" value="Login" type="submit">
									<label class="woocommerce-form__label woocommerce-form__label-for-checkbox">
										<input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" id="rememberme" value="forever" type="checkbox"> 
										<span>Remember me</span>
									</label>
								</p>
								<p class="lost_password">
									<a href="#">Lost your password?</a>
								</p>
								<div class="clear"></div>
							</form>							
						</div>
						<div class="col-md-6 col-xs-12">
							<div class="woocommerce-info">
								<p>Have a coupon? <a class="showcoupon" href="#">Click here to enter your code</a></p>
							</div>
							<form class="checkout_coupon" method="post">
								<p>Enter your coupon code if you have one</p>
								<p class="form-row form-row-first">
									<input name="coupon_code" class="input-text" placeholder="Coupon code" id="coupon_code" value="" type="text">
								</p>
								<p class="form-row form-row-last">
									<input class="button" name="apply_coupon" value="Apply coupon" type="submit">
								</p>
								<div class="clear"></div>
							</form>
						</div>
						<form class="checkout woocommerce-checkout col-xs-12 no-left-padding no-right-padding">
							<div class="col-md-6 col-xs-12">
								<div class="woocommerce-billing-fields">
									<h3>Billing details</h3>
									<div class="woocommerce-billing-fields__field-wrapper">
										<p class="form-row">
											<label>Name*</label>
											<input type="text"  />
										</p>
										<p class="form-row">
											<label>Surname*</label>
											<input type="text"  />
										</p>
										<p class="form-row form-row-wide">
											<label>Company name</label>
											<input type="text" />
										</p>
										<p class="form-row">
											<label>Email address*</label>
											<input type="text"  />
										</p>
										<p class="form-row">
											<label>Phone*</label>
											<input type="text"  />
										</p>
										<p class="form-row form-row-wide">
											<label>Country</label>
											<input type="text" />
										</p>
										<p class="form-row form-row-wide">
											<label>Address</label>
											<input type="text" placeholder="Street address" />
										</p>
										<p class="form-row form-row-wide">
											<input type="text" placeholder="Apartment, suite, unit etc. (optional)" />
										</p>
										<p class="form-row">
											<label>Postcode / ZIP*</label>
											<input type="text"  />
										</p>
										<p class="form-row">
											<label>Town / City*</label>
											<input type="text"  />
										</p>
									</div>
									<div class="woocommerce-account-fields">
										<p class="form-row form-row-wide">
											<label class="woocommerce-form__label woocommerce-form__label-for-checkbox">
												<input class="woocommerce-form__input woocommerce-form__input-checkbox" name="createaccount" value="1" type="checkbox"> <span>Create an account?</span>
											</label>
										</p>
										<p class="form-row form-row-wide">
											<label class="woocommerce-form__label-for-checkbox woocommerce-shipped-diff">
												<span>Ship to a different address?</span> 
												<input class="woocommerce-form__input woocommerce-form__input-checkbox" name="createaccount" value="1" type="checkbox">
											</label>
										</p>
										<p class="form-row form-row-wide notes" id="order_comments_field" data-priority="">
											<label for="order_comments" class="">Order notes</label>
											<textarea name="order_comments" class="input-text " id="order_comments" placeholder="Notes about your order, e. g. special notes for delivery" rows="2" cols="5"></textarea>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-xs-12">
								<div class="woocommerce-checkout-review-order">
									<h3>Your order</h3>
									<div class="woocommerce-checkout-review-order-content">
										<p><b>PRODUCT</b><span><b>TOTAL</b></span></p>
										<p>Waterproof Jacket Black <span>$375.00</span></p>
										<p>Sleeping Bag Coyote <span>$119.00</span></p>
										<p><b>SUBTOTAL</b><span>$494.00</span></p>
										<p><b>SHIPPING</b><span>FREE</span></p>
										<p><b>TOTAL</b><span><b>$494.00</b></span></p>
									</div>
								</div>
								<div class="woocommerce-checkout-payment">
									<ul class="wc_payment_methods">
										<li class="wc_payment_method">
											<input class="input-radio" name="payment_method" checked="checked" type="radio">
											<label>Check payments </label>
											<div class="payment_box payment_method_cheque">
												<p>Please send a check to Store name, Store Street, Store Town, Store State  County, Store Postcode.</p>
											</div>
										</li>
										<li class="wc_payment_method">
											<input class="input-radio" name="payment_method" type="radio">
											<label>PayPal</label>
										</li>
										<li class="wc_payment_method">
											<input class="input-radio" name="payment_method" type="radio">
											<label>Direct Bank Transfer </label>
										</li>
									</ul>
									<div class="place-order">
										<input type="submit" value="PLACE ORDER" />
									</div>
								</div>
							</div>
						</form>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Content Block /- -->
		</main>
		
	</div>
	
	<!-- Footer Main -->
	<div class="container-fluid no-left-padding no-right-padding footer-main">
		<div class="instagram-block">
			<h3>Follow Me <a href="#">@bushcraft</a></h3>
			<div class="insta-image">
				<div class="col-xs-2 no-left-padding no-right-padding">
					<a href="#"><img src="assets/images/insta-1.jpg" alt="Instagram" /></a>
				</div>
				<div class="col-xs-2 no-left-padding no-right-padding">
					<a href="#"><img src="assets/images/insta-2.jpg" alt="Instagram" /></a>
				</div>
				<div class="col-xs-2 no-left-padding no-right-padding">
					<a href="#"><img src="assets/images/insta-3.jpg" alt="Instagram" /></a>
				</div>
				<div class="col-xs-2 no-left-padding no-right-padding">
					<a href="#"><img src="assets/images/insta-4.jpg" alt="Instagram" /></a>
				</div>
				<div class="col-xs-2 no-left-padding no-right-padding">
					<a href="#"><img src="assets/images/insta-5.jpg" alt="Instagram" /></a>
				</div>
				<div class="col-xs-2 no-left-padding no-right-padding">
					<a href="#"><img src="assets/images/insta-1.jpg" alt="Instagram" /></a>
				</div>
			</div>
		</div>
		<!-- Bottom Footer -->
		<div class="container-fluid no-left-padding no-right-padding bottom-footer">
			<!-- Container -->
			<div class="container">
				<div class="logo-block">
					<a href="#"><img src="assets/images/logo.png" alt="Logo" /></a>
				</div>
				<div class="copyright">
					<p>Copyright © 2017 Bushcraft</p>
				</div>
				<div class="ftr-social">
					<ul>
						<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
						<li><a href="#" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>
						<li><a href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
			</div><!-- Container /- -->
		</div><!-- Bottom Footer /- -->
	</div><!-- Footer Main /- -->
	
	<!-- JQuery v1.12.4 -->
	<script src="assets/js/jquery-1.12.4.min.js"></script>

	<!-- Library - Js -->
	<script src="assets/js/lib.js"></script>
	
	<!-- Library - Theme JS -->
	<script src="assets/js/functions.js"></script>
	
</body>
</html>