<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Header Version - Bushcraft</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="assets/images//favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-114x114-precomposed.png">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-72x72-precomposed.png">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-57x57-precomposed.png">	
	
	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Kristi|Oleo+Script:400,700" rel="stylesheet"> 

	<!-- Library -->
    <link href="assets/css/lib.css" rel="stylesheet">    
	
	<!-- Custom - Common CSS -->
	<link href="assets/css/plugins.css" rel="stylesheet">
	<link href="assets/css/elements.css" rel="stylesheet">	
	<link href="assets/css/rtl.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
	<!-- Loader -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="line-scale"><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	</div><!-- Loader /- -->	

		
	<!-- Header -->
	<header class="header_s">
		<!-- SidePanel -->
		<div id="slidepanel-1" class="slidepanel">
			<!-- Top Header -->
			<div class="container-fluid no-right-padding no-left-padding top-header">
				<!-- Container -->
				<div class="container">						
					<div class="top-left">
						<ul>
							<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>
							<li><a href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<div class="logo-block">
						<a href="index.html" title="Logo"><img src="assets/images/logo.png" alt="Logo"/></a>
					</div>
					<div class="top-right">
						<span><a href="javascript:void(0);" id="search" title="Search"><i class="pe-7s-search"></i></a></span>
						<span><a href="#" title="Search"><i class="pe-7s-user"></i></a></span>
						<div class="cart-dropdown">
							<ul>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false"><i class="pe-7s-cart"></i><span>0</span></a>										
									<ul class="dropdown-menu">
										<li class="mini-cart-item">
											<a href="#"><img src="assets/images/mini-cart-1.jpg" alt="Cart" /></a>
											<div class="mini-cart">
												<a href="#"> Mountain Axe</a>
												<span>Quantity: 1 <span>$25.00</span></span>
											</div>
											<span><a href="#"><i class="fa fa-times"></i></a></span>
										</li>
										<li class="mini-cart-item">
											<a href="#"><img src="assets/images/mini-cart-2.jpg" alt="Cart" /></a>
											<div class="mini-cart">
												<a href="#">Backpack 40L</a>
												<span>Quantity: 1 <span>$130.00</span></span>
											</div>
											<span><a href="#"><i class="fa fa-times"></i></a></span>
										</li>
										<li class="mini-subtotal">SUBTOTAL <span>$155.00</span></li>
										<li class="cart-button">
											<a href="#" title="View shopping cart">view shopping cart</a>
											<a href="#" title="Proceed to checkout">proceed to checkout</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>						
					<!-- Search Box -->
					<div class="search-box search-block1">
						<span><i class="icon_close"></i></span>
						<form><input type="text" class="form-control" placeholder="Enter a keyword and press enter..." /></form>
					</div><!-- Search Box /- -->
				</div><!-- Container /- -->
			</div><!-- Top Header /- -->				
		</div><!-- SidePanel /- -->
		
		<!-- Menu Block -->
		<div class="menu-block">
			<!-- Container -->
			<div class="container">
				<!-- Ownavigation -->
				<nav class="navbar ownavigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Logo"/></a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="index.html" title="Home" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="index2.html" title="Home 2">Home 2</a></li>
								<li><a href="index3.html" title="Home 3">Home 3</a></li>
								<li><a href="index4.html" title="Home 4">Home 4</a></li>
								<li><a href="index5.html" title="Home 5">Home 5</a></li>
								</ul>
							</li>
							<li><a href="#" title="Posts">Posts</a></li>
							<li><a href="#" title="Courses">Courses</a></li>
							<li class="dropdown mega-dropdown">
								<a href="#" class="dropdown-toggle" title="Megamenu">Megamenu</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu megamenu">
									<li>
										<h4>BLOG</h4>
										<ul>
											<li><a href="#" title="Gear">Gear</a></li>
											<li><a href="#" title="Courses">Courses</a></li>
											<li><a href="#" title="Survival">Survival</a></li>
											<li><a href="#" title="Accessories">Accessories</a></li>
											<li><a href="#" title="Nature">Nature</a></li>
											<li><a href="#" title="Knives">Knives</a></li>
											<li><a href="#" title="Skills">Skills</a></li>
										</ul>
									</li>
									<li>
										<h4>SURVIVAL</h4>
										<ul>
											<li><a href="#" title="Techniques">Techniques</a></li>
											<li><a href="#" title="Books">Books</a></li>
											<li><a href="#" title="How to">How to</a></li>
											<li><a href="#" title="Courses">Courses</a></li>
											<li><a href="#" title="Gear">Gear</a></li>												
										</ul>
									</li>
									<li>
										<h4>shop</h4>
										<ul>
											<li><a href="#" title="Tools">Tools</a></li>
											<li><a href="#" title="Courses">Courses</a></li>
											<li><a href="#" title="Survival">Survival</a></li>
											<li><a href="#" title="Accessories">Accessories</a></li>
											<li><a href="#" title="Books">Books</a></li>
											<li><a href="#" title="Knives">Knives</a></li>
											<li><a href="#" title="Wear">Wear</a></li>
										</ul>
									</li>
									<li>
										<h4>courses</h4>
										<ul>
											<li><a href="#" title="1 Weeks Courses">1 Weeks Courses</a></li>
											<li><a href="#" title="2 Weeks Courses">2 Weeks Courses</a></li>
											<li><a href="#" title="1 Month Courses">1 Month Courses</a></li>
										</ul>
										<h4>handmade</h4>
										<ul>
											<li><a href="#" title="Tools">Tools</a></li>
											<li><a href="#" title="Wear">Wear</a></li>
										</ul>
									</li>
									<li>
										<h4>clothing</h4>
										<ul>
											<li><a href="#" title="Jackets">Jackets</a></li>
											<li><a href="#" title="Trousers">Trousers</a></li>
											<li><a href="#" title="Shoes">Shoes</a></li>
											<li><a href="#" title="Shirts">Shirts</a></li>
											<li><a href="#" title="Waterproof">Waterproof</a></li>
											<li><a href="#" title="Windproof">Windproof</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" title="Blog" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="#" title="Bushcraft">Bushcraft</a></li>
									<li><a href="#" title="Gear">Gear</a></li>
									<li class="dropdown">
										<a href="#" title="Courses" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Courses</a>
										<i class="ddl-switch fa fa-angle-down"></i>
										<ul class="dropdown-menu">
											<li><a href="#" title="Wild Courses">Wild Courses</a></li>
											<li><a href="#" title="Bushcraft Courses">Bushcraft Courses</a></li>
											<li><a href="#" title="1 Week Courses">1 Week Courses</a></li>
											<li><a href="#" title="2 Weeks Courses">2 Weeks Courses</a></li>
											<li><a href="#" title="1 Month Courses">1 Month Courses</a></li>
										</ul>
									</li>
									<li><a href="#" title="Survival">Survival</a></li>
									<li class="dropdown">
										<a href="#" title="Accessories" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Accessories</a>
										<i class="ddl-switch fa fa-angle-down"></i>
										<ul class="dropdown-menu">
											<li><a href="#" title="Wild Courses">Wild Courses</a></li>
											<li><a href="#" title="Bushcraft Courses">Bushcraft Courses</a></li>
											<li><a href="#" title="1 Week Courses">1 Week Courses</a></li>
											<li><a href="#" title="2 Weeks Courses">2 Weeks Courses</a></li>
											<li><a href="#" title="1 Month Courses">1 Month Courses</a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="#" title="Nature" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Nature</a>
										<i class="ddl-switch fa fa-angle-down"></i>
										<ul class="dropdown-menu">
											<li><a href="#" title="Wild Courses">Wild Courses</a></li>
											<li><a href="#" title="Bushcraft Courses">Bushcraft Courses</a></li>
											<li><a href="#" title="1 Week Courses">1 Week Courses</a></li>
											<li><a href="#" title="2 Weeks Courses">2 Weeks Courses</a></li>
											<li><a href="#" title="1 Month Courses">1 Month Courses</a></li>
										</ul>
									</li>
									<li><a href="#" title="Knives">Knives</a></li>
									<li><a href="#" title="Skills">Skills</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="shop.html" title="Shop" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="shop-detail.html" title="Shop Detail">Shop Detail</a></li>
									<li><a href="cart.html" title="Cart">Cart</a></li>
									<li><a href="checkout.html" title="Checkout">Checkout</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" title="About us" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">About us</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="about-us.html" title="About Us">About Us</a></li>
									<li><a href="about-us-sidebar.html" title="About Us Sidebar">About Us Sidebar</a></li>
									<li><a href="about-me.html" title="About Me Fullwidth">About Me Fullwidth</a></li>
									<li><a href="about-me-sidebar.html" title="About Me Sidebar">About Me Sidebar</a></li>
								</ul>
							</li>
							<li><a href="#" title="Contact Us">Contact</a></li>
						</ul>
					</div>
					<div id="loginpanel-1" class="desktop-hide">
						<div class="right toggle" id="toggle-1">
							<a id="slideit-1" class="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
							<a id="closeit-1" class="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
						</div>
					</div>
				</nav><!-- Ownavigation /- -->
			</div><!-- Container /- -->
		</div><!-- Menu Block /- -->
	</header><!-- Header /- -->
	
	<div class="padding-100"></div>
	
	<!-- Header 2 -->
	<header class="header_s2">
		<!-- Menu Block -->
		<div class="menu-block">
			<!-- Container -->
			<div class="container">
				<!-- Ownavigation -->
				<nav class="navbar ownavigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar2">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Logo"/></a>
					</div>
					<div class="menu-right-block">
						<span><a href="javascript:void(0);" id="search2" title="Search"><i class="pe-7s-search"></i></a></span>
						<span><a href="#"><i class="pe-7s-user"></i></a></span>
						<div class="cart-dropdown">
							<ul>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false"><i class="pe-7s-cart"></i><span>0</span></a>										
									<ul class="dropdown-menu">
										<li class="mini-cart-item">
											<a href="#"><img src="assets/images/mini-cart-1.jpg" alt="Cart" /></a>
											<div class="mini-cart">
												<a href="#"> Mountain Axe</a>
												<span>Quantity: 1 <span>$25.00</span></span>
											</div>
											<span><a href="#"><i class="fa fa-times"></i></a></span>
										</li>
										<li class="mini-cart-item">
											<a href="#"><img src="assets/images/mini-cart-2.jpg" alt="Cart" /></a>
											<div class="mini-cart">
												<a href="#">Backpack 40L</a>
												<span>Quantity: 1 <span>$130.00</span></span>
											</div>
											<span><a href="#"><i class="fa fa-times"></i></a></span>
										</li>
										<li class="mini-subtotal">SUBTOTAL <span>$155.00</span></li>
										<li class="cart-button">
											<a href="#" title="View shopping cart">view shopping cart</a>
											<a href="#" title="Proceed to checkout">proceed to checkout</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div id="navbar2" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="index.html" title="Home" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="index2.html" title="Home 2">Home 2</a></li>
									<li><a href="index3.html" title="Home 3">Home 3</a></li>
									<li><a href="index4.html" title="Home 4">Home 4</a></li>
									<li><a href="index5.html" title="Home 5">Home 5</a></li>
								</ul>
							</li>
							<li><a href="#" title="Posts">Posts</a></li>
							<li><a href="#" title="Courses">Courses</a></li>
							<li class="dropdown">
								<a href="#" title="Blog" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="post-fullwidth.html" title="Post Fullwidth">Post Fullwidth</a></li>
									<li><a href="post-sidebar.html" title="Post Sidebar">Post Sidebar</a></li>
									<li><a href="post-courses.html" title="Post Courses">Post Courses</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="shop.html" title="Shop" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="shop-detail.html" title="Shop Detail">Shop Detail</a></li>
									<li><a href="cart.html" title="Cart">Cart</a></li>
									<li><a href="checkout.html" title="Checkout">Checkout</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" title="About us" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">About us</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="about-us.html" title="About Us">About Us</a></li>
									<li><a href="about-us-sidebar.html" title="About Us Sidebar">About Us Sidebar</a></li>
									<li><a href="about-me.html" title="About Me Fullwidth">About Me Fullwidth</a></li>
									<li><a href="about-me-sidebar.html" title="About Me Sidebar">About Me Sidebar</a></li>
								</ul>
							</li>
							<li><a href="#" title="Contact Us">Contact</a></li>
						</ul>
					</div>
				</nav><!-- Ownavigation /- -->
				<!-- Search Box -->
				<div class="search-box search-block2">
					<span><i class="icon_close"></i></span>
					<form><input type="text" class="form-control" placeholder="Enter a keyword and press enter..." /></form>
				</div><!-- Search Box /- -->
			</div><!-- Container /- -->
		</div><!-- Menu Block /- -->
	</header><!-- Header 2 /- -->
	
	<div class="padding-100"></div>
	
	<!-- Header 3 -->
	<header class="header_s3">
		<!-- SidePanel -->
		<div id="slidepanel-2" class="slidepanel">
			<!-- Top Header -->
			<div class="container-fluid no-right-padding no-left-padding top-header">
				<!-- Container -->
				<div class="container">						
					<div class="top-left">
						<div class="logo-block">
							<a href="index.html" title="Logo"><img src="assets/images/logo.png" alt="Logo"/></a>
						</div>
					</div>
					<div class="top-right">
						<span><a href="javascript:void(0);" id="search3" title="Search"><i class="pe-7s-search"></i></a></span>
						<span><a href="#"><i class="pe-7s-user"></i></a></span>
						<div class="cart-dropdown">
							<ul>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false"><i class="pe-7s-cart"></i><span>0</span></a>										
									<ul class="dropdown-menu">
										<li class="mini-cart-item">
											<a href="#"><img src="assets/images/mini-cart-1.jpg" alt="Cart" /></a>
											<div class="mini-cart">
												<a href="#"> Mountain Axe</a>
												<span>Quantity: 1 <span>$25.00</span></span>
											</div>
											<span><a href="#"><i class="fa fa-times"></i></a></span>
										</li>
										<li class="mini-cart-item">
											<a href="#"><img src="assets/images/mini-cart-2.jpg" alt="Cart" /></a>
											<div class="mini-cart">
												<a href="#">Backpack 40L</a>
												<span>Quantity: 1 <span>$130.00</span></span>
											</div>
											<span><a href="#"><i class="fa fa-times"></i></a></span>
										</li>
										<li class="mini-subtotal">SUBTOTAL <span>$155.00</span></li>
										<li class="cart-button">
											<a href="#" title="View shopping cart">view shopping cart</a>
											<a href="#" title="Proceed to checkout">proceed to checkout</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>						
					<!-- Search Box -->
					<div class="search-box search-block3">
						<span><i class="icon_close"></i></span>
						<form><input type="text" class="form-control" placeholder="Enter a keyword and press enter..." /></form>
					</div><!-- Search Box /- -->
				</div><!-- Container /- -->
			</div><!-- Top Header /- -->
		</div><!-- SidePanel /- -->
		
		<!-- Menu Block -->
		<div class="menu-block">
			<!-- Container -->
			<div class="container">
				<!-- Ownavigation -->
				<nav class="navbar ownavigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3" aria-expanded="false" aria-controls="navbar3">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Logo"/></a>
					</div>
					<div class="social-right">
						<ul>
							<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>
							<li><a href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<div id="navbar3" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="index.html" title="Home" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="index2.html" title="Home 2">Home 2</a></li>
									<li><a href="index3.html" title="Home 3">Home 3</a></li>
									<li><a href="index4.html" title="Home 4">Home 4</a></li>
									<li><a href="index5.html" title="Home 5">Home 5</a></li>
								</ul>
							</li>
							<li><a href="#" title="Posts">Posts</a></li>
							<li><a href="#" title="Courses">Courses</a></li>
							<li class="dropdown">
								<a href="#" title="Blog" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="post-fullwidth.html" title="Post Fullwidth">Post Fullwidth</a></li>
									<li><a href="post-sidebar.html" title="Post Sidebar">Post Sidebar</a></li>
									<li><a href="post-courses.html" title="Post Courses">Post Courses</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="shop.html" title="Shop" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="shop-detail.html" title="Shop Detail">Shop Detail</a></li>
									<li><a href="cart.html" title="Cart">Cart</a></li>
									<li><a href="checkout.html" title="Checkout">Checkout</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" title="About us" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">About us</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="about-us.html" title="About Us">About Us</a></li>
									<li><a href="about-us-sidebar.html" title="About Us Sidebar">About Us Sidebar</a></li>
									<li><a href="about-me.html" title="About Me Fullwidth">About Me Fullwidth</a></li>
									<li><a href="about-me-sidebar.html" title="About Me Sidebar">About Me Sidebar</a></li>
								</ul>
							</li>
							<li><a href="#" title="Contact Us">Contact</a></li>
						</ul>
					</div>
					<div id="loginpanel-2" class="desktop-hide">
						<div class="right toggle" id="toggle-2">
							<a id="slideit-2" class="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
							<a id="closeit-2" class="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
						</div>
					</div>
				</nav><!-- Ownavigation /- -->
			</div><!-- Container /- -->
		</div><!-- Menu Block /- -->
	</header><!-- Header 3 /- -->

	<!-- JQuery v1.12.4 -->
	<script src="assets/js/jquery-1.12.4.min.js"></script>

	<!-- Library - Js -->
	<script src="assets/js/lib.js"></script>
	
	<!-- Library - Theme JS -->
	<script src="assets/js/functions.js"></script>
	
</body>
</html>